:root {
  /* Colors — Primary */
  --color-primary: #fcac00;
  --color-secondary: #0866ff;
  --color-accent: #ff0000;

  /* Colors — Neutrals */
  --color-neutral-50: #3a3a3a;
  --color-neutral-100: #ffffff;
  --color-neutral-200: #191919;
  --color-neutral-300: #666666;
  --color-neutral-400: #e0e0e0;
  --color-neutral-500: #000000;
  --color-neutral-600: #adb5b7;
  --color-neutral-700: #808080;
  --color-neutral-800: #9b9b9b;
  --color-neutral-900: #f0f0f0;

  /* Colors — Backgrounds */
  --color-bg: #ffffff;
  --color-bg-1: #fcac00;
  --color-bg-2: #0d2279;
  --color-bg-3: #000000;
  --color-bg-4: #9b9b9b;
  --color-bg-5: #1e73be;
  --color-bg-6: #1a65a7;
  --color-bg-7: #2d2f94;
  --color-bg-8: #333333;

  /* Colors — Text */
  --color-text: #666666;
  --color-text-1: #3a3a3a;
  --color-text-2: #0d2279;
  --color-text-3: #ffffff;
  --color-text-4: #2d2f94;

  /* Typography — Families */
  --font-body: 'Lato', sans-serif;
  --font-heading: 'Merriweather Sans', sans-serif;
  --font-body: 'Arial', sans-serif;
  --font-body: 'Hind', sans-serif;
  --font-body: 'vote-reward-badges', sans-serif;

  /* Typography — Scale */
  --font-size-45: 45px;
  --font-size-32: 32px;
  --font-size-30: 30px;
  --font-size-25: 25px;
  --font-size-24: 24px;
  --font-size-22.4: 22.4px;
  --font-size-22: 22px;
  --font-size-20.48: 20.48px;
  --font-size-20: 20px;
  --font-size-18: 18px;
  --font-size-16: 16px;
  --font-size-14: 14px;

  /* Spacing */
  --spacing-1: 1px;
  --spacing-15: 15px;
  --spacing-26: 26px;
  --spacing-30: 30px;
  --spacing-35: 35px;
  --spacing-40: 40px;
  --spacing-50: 50px;
  --spacing-60: 60px;
  --spacing-70: 70px;
  --spacing-240: 240px;

  /* Border Radius */
  --radius-full: 50px;

  /* Box Shadows */
  --shadow-sm: rgba(8, 36, 145, 0.78) 0px 0px 0px 0px;
  --shadow-sm: rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  --shadow-sm: rgba(219, 171, 0, 0.83) 0px 0px 0px 0px;
  --shadow-md: rgba(0, 0, 0, 0.08) 0px 2px 8px 0px;

  /* Original Site Variables */
  /* — colors — */
  --wp-block-synced-color: #7a00df;
  --wp-block-synced-color--rgb: 122,0,223;
  --wp-bound-block-color: var(--wp-block-synced-color);
  --wp-admin-theme-color: #007cba;
  --wp-admin-theme-color--rgb: 0,124,186;
  --wp-admin-theme-color-darker-10: #006ba1;
  --wp-admin-theme-color-darker-10--rgb: 0,107,160.5;
  --wp-admin-theme-color-darker-20: #005a87;
  --wp-admin-theme-color-darker-20--rgb: 0,90,135;
  --wp-admin-border-width-focus: 2px;
  --wp--preset--color--black: #000000;
  --wp--preset--color--cyan-bluish-gray: #abb8c3;
  --wp--preset--color--white: #ffffff;
  --wp--preset--color--pale-pink: #f78da7;
  --wp--preset--color--vivid-red: #cf2e2e;
  --wp--preset--color--luminous-vivid-orange: #ff6900;
  --wp--preset--color--luminous-vivid-amber: #fcb900;
  --wp--preset--color--light-green-cyan: #7bdcb5;
  --wp--preset--color--vivid-green-cyan: #00d084;
  --wp--preset--color--pale-cyan-blue: #8ed1fc;
  --wp--preset--color--vivid-cyan-blue: #0693e3;
  --wp--preset--color--vivid-purple: #9b51e0;
  --button-global-border-radius: 0px;
  --button-default-background-color: #fcac00;
  --button-default-border-color: #004276;
  --button-default-color: #004276;
  --button-default-hover-background-color: #004276;
  --button-default-hover-border-color: #49addf;
  --button-default-hover-color: #ffffff;
  --button-primary-background-color: #fcac00;
  --button-primary-border-color: #ffffff;
  --button-primary-color: #0d2279;
  --button-primary-hover-background-color: #4bb5ef;
  --button-primary-hover-border-color: #4bb5ef;
  --button-primary-hover-color: #ffffff;
  --button-secondary-background-color: #5bb6eb;
  --button-secondary-border-color: #5bb6eb;
  --button-secondary-color: #ffffff;
  --button-secondary-hover-background-color: #ffffff;
  --button-secondary-hover-border-color: #ffffff;
  --button-secondary-hover-color: #000000;
  --button-danger-background-color: #fcac00;
  --button-danger-border-color: #fcac00;
  --button-danger-color: #ffffff;
  --button-danger-hover-background-color: #fcac00;
  --button-danger-hover-border-color: #fcac00;
  --button-danger-hover-color: #ffffff;
  --button-disabled-background-color: #eaeaea;
  --button-disabled-border-color: #eaeaea;
  --button-disabled-color: #8e8e8e;
  --button-text-border-color: #fcac00;
  --button-text-color: #000000;
  --button-text-hover-color: #fcac00;
  --button-text-disabled-color: #d4d4d4;
  --button-link-color: #000000;
  --button-link-hover-color: #888888;
  --button-link-disabled-color: #d4d4d4;
  --button-large-border-radius: 0px;
  --button-small-border-radius: 0px;
  --form-global-background-color: rgba(255,255,255,0);
  --form-global-border-color: #e5e5e5;
  --form-global-border-radius: 0px;
  --form-global-border-width: 1px;
  --form-global-color: #888888;
  --form-global-placeholder-color: #b3b3b3;
  --form-global-focus-border: #fcac00;
  --form-global-focus-color: #888888;
  --form-global-disabled-border: #e5e5e5;
  --form-global-disabled-color: #e5e5e5;
  --form-danger-border-color: #fcac00;
  --form-danger-color: #fcac00;
  --form-success-border-color: #5bb6eb;
  --form-success-color: #888888;
  --form-blank-focus-border: #e0e0e0;
  --form-blank-focus-border-style: solid;
  --form-label-color: #000000;
  --form-select-option-color: #000000;
  --form-radio-border: #e5e5e5;
  --form-radio-border-width: 2px;
  --form-radio-focus-border: #fcac00;
  --form-radio-checked-border: #000000;
  --form-radio-disabled-border: #e5e5e5;
  --form-range-thumb-border: #000000;
  --form-range-thumb-border-radius: 500px;
  --form-range-thumb-border-width: 0;
  --inverse-button-default-background-color: #ffffff;
  --inverse-button-default-border-color: #ffffff;
  --inverse-button-default-color: #000000;
  --inverse-button-default-hover-background-color: #fcac00;
  --inverse-button-default-hover-border-color: #fcac00;
  --inverse-button-default-hover-color: #ffffff;
  --inverse-button-primary-background-color: #fcac00;
  --inverse-button-primary-border-color: #fcac00;
  --inverse-button-primary-color: #0d2279;
  --inverse-button-primary-hover-background-color: #ffffff;
  --inverse-button-primary-hover-border-color: #ffffff;
  --inverse-button-primary-hover-color: #000000;
  --inverse-button-secondary-background-color: rgba(0,0,0,0);
  --inverse-button-secondary-border-color: #ffffff;
  --inverse-button-secondary-color: #0d2279;
  --inverse-button-secondary-hover-background-color: #fcac00;
  --inverse-button-secondary-hover-border-color: #fcac00;
  --inverse-button-secondary-hover-color: #ffffff;
  --inverse-button-text-border-color: #ffffff;
  --inverse-button-text-color: #ffffff;
  --inverse-button-text-hover-color: #fcac00;
  --inverse-button-text-disabled-color: #d8d8d8;
  --inverse-button-link-color: #ffffff;
  --inverse-button-link-hover-color: rgba(255,255,255,0.8);
  --inverse-form-background-color: rgba(255,255,255,0);
  --inverse-form-border-color: #ffffff;
  --inverse-form-color: #ffffff;
  --inverse-form-placeholder-color: #ffffff;
  --inverse-form-focus-border: #ffffff;
  --inverse-form-focus-color: #ffffff;
  --inverse-form-select-icon-color: #ffffff;
  --inverse-form-radio-background-color: rgba(255,255,255,0);
  --inverse-form-radio-border-color: #ffffff;
  --inverse-form-radio-focus-border: #ffffff;
  --inverse-form-radio-checked-border: #ffffff;
  --inverse-form-radio-checked-icon-color: #ffffff;
  --inverse-form-label-color: #ffffff;
  --offcanvas-bar-background-color: #ffffff;
  /* — spacing — */
  --wp--preset--font-size--normal: 16px;
  --wp--preset--font-size--huge: 42px;
  --wp--preset--font-size--small: 13px;
  --wp--preset--font-size--medium: 20px;
  --wp--preset--font-size--large: 36px;
  --wp--preset--font-size--x-large: 42px;
  --wp--preset--spacing--20: 0.44rem;
  --wp--preset--spacing--30: 0.67rem;
  --wp--preset--spacing--40: 1rem;
  --wp--preset--spacing--50: 1.5rem;
  --wp--preset--spacing--60: 2.25rem;
  --wp--preset--spacing--70: 3.38rem;
  --wp--preset--spacing--80: 5.06rem;
  --button-global-font-size: 18px;
  --button-global-padding-horizontal: 20px;
  --button-global-letter-spacing: 0px;
  --button-large-font-size: 18px;
  --button-large-padding-horizontal: 60px;
  --button-small-font-size: 14px;
  --button-small-padding-horizontal: 20px;
  --form-global-padding-horizontal: 10px;
  --form-global-padding-vertical: 5px;
  --form-large-font-size: 18px;
  --form-large-padding-horizontal: 10px;
  --form-small-font-size: 14px;
  --form-small-padding-horizontal: 10px;
  --form-legend-font-size: 14px;
  --form-label-font-size: 14px;
  --form-label-letter-spacing: 0px;
  --form-select-padding-right: 20px;
  --form-radio-margin-top: -5px;
  --form-radio-size: 20px;
  --form-stacked-margin-bottom: 10px;
  --form-horizontal-controls-margin-left: 20px;
  --form-horizontal-controls-text-padding-top: 10px;
  --form-horizontal-label-margin-top: 10px;
  --offcanvas-bar-padding-horizontal: 30px;
  --offcanvas-bar-m-padding-horizontal: 50px;
  --offcanvas-bar-padding-top: 40px;
  --offcanvas-bar-m-padding-top: 40px;
  --offcanvas-bar-padding-bottom: 80px;
  --offcanvas-bar-m-padding-bottom: 50px;
  --offcanvas-close-padding: 10px;
  /* — typography — */
  --button-global-line-height: 50px;
  --button-global-text-transform: capitalize;
  --button-text-line-height: 1;
  --button-link-hover-text-decoration: none;
  --button-link-line-height: normal;
  --button-large-line-height: 70px;
  --button-small-line-height: 35px;
  --form-global-line-height: 48px;
  --form-large-line-height: 68px;
  --form-small-line-height: 33px;
  --form-legend-line-height: 20px;
  --form-label-font-weight: bold;
  --form-label-text-transform: inherit;
  --fa-font-brands: normal 400 1em/1 "Font Awesome 6 Brands";
  --fa-font-solid: normal 900 1em/1 "Font Awesome 6 Free";
  --fa-font-regular: normal 400 1em/1 "Font Awesome 6 Free";
  /* — shadows — */
  --wp--preset--shadow--natural: 6px 6px 9px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--deep: 12px 12px 50px rgba(0, 0, 0, 0.4);
  --wp--preset--shadow--sharp: 6px 6px 0px rgba(0, 0, 0, 0.2);
  --wp--preset--shadow--outlined: 6px 6px 0px -3px rgb(255, 255, 255), 6px 6px rgb(0, 0, 0);
  --wp--preset--shadow--crisp: 6px 6px 0px rgb(0, 0, 0);
  /* — other — */
  --wp-editor-canvas-background: #ddd;
  --wp--preset--aspect-ratio--square: 1;
  --wp--preset--aspect-ratio--4-3: 4/3;
  --wp--preset--aspect-ratio--3-4: 3/4;
  --wp--preset--aspect-ratio--3-2: 3/2;
  --wp--preset--aspect-ratio--2-3: 2/3;
  --wp--preset--aspect-ratio--16-9: 16/9;
  --wp--preset--aspect-ratio--9-16: 9/16;
  --wp--preset--gradient--vivid-cyan-blue-to-vivid-purple: linear-gradient(135deg,rgb(6,147,227) 0%,rgb(155,81,224) 100%);
  --wp--preset--gradient--light-green-cyan-to-vivid-green-cyan: linear-gradient(135deg,rgb(122,220,180) 0%,rgb(0,208,130) 100%);
  --wp--preset--gradient--luminous-vivid-amber-to-luminous-vivid-orange: linear-gradient(135deg,rgb(252,185,0) 0%,rgb(255,105,0) 100%);
  --wp--preset--gradient--luminous-vivid-orange-to-vivid-red: linear-gradient(135deg,rgb(255,105,0) 0%,rgb(207,46,46) 100%);
  --wp--preset--gradient--very-light-gray-to-cyan-bluish-gray: linear-gradient(135deg,rgb(238,238,238) 0%,rgb(169,184,195) 100%);
  --wp--preset--gradient--cool-to-warm-spectrum: linear-gradient(135deg,rgb(74,234,220) 0%,rgb(151,120,209) 20%,rgb(207,42,186) 40%,rgb(238,44,130) 60%,rgb(251,105,98) 80%,rgb(254,248,76) 100%);
  --wp--preset--gradient--blush-light-purple: linear-gradient(135deg,rgb(255,206,236) 0%,rgb(152,150,240) 100%);
  --wp--preset--gradient--blush-bordeaux: linear-gradient(135deg,rgb(254,205,165) 0%,rgb(254,45,45) 50%,rgb(107,0,62) 100%);
  --wp--preset--gradient--luminous-dusk: linear-gradient(135deg,rgb(255,203,112) 0%,rgb(199,81,192) 50%,rgb(65,88,208) 100%);
  --wp--preset--gradient--pale-ocean: linear-gradient(135deg,rgb(255,245,203) 0%,rgb(182,227,212) 50%,rgb(51,167,181) 100%);
  --wp--preset--gradient--electric-grass: linear-gradient(135deg,rgb(202,248,128) 0%,rgb(113,206,126) 100%);
  --wp--preset--gradient--midnight: linear-gradient(135deg,rgb(2,3,129) 0%,rgb(40,116,252) 100%);
  --form-global-height: 50px;
  --form-global-focus-background: rgba(255,255,255,0);
  --form-global-disabled-background: #f2f2f2;
  --form-large-height: 70px;
  --form-small-height: 35px;
  --form-radio-background: rgba(255,255,255,0.3);
  --form-radio-checked-focus-background: #fcac00;
  --form-radio-checked-background: #000000;
  --form-radio-disabled-background: #e0e0e0;
  --form-range-thumb-background: #000000;
  --form-range-thumb-height: 15px;
  --form-range-track-background: #f9f9f9;
  --form-range-track-height: 3px;
  --form-range-track-focus-background: #000000;
  --form-width-large: 500px;
  --form-width-medium: 200px;
  --form-width-small: 130px;
  --form-width-xsmall: 50px;
  --form-horizontal-label-width: 200px;
  --inverse-form-focus-background: rgba(255,255,255,0);
  --inverse-form-radio-checked-background: rgba(255,255,255,0);
  --inverse-form-radio-checked-focus-background: #ffffff;
  --offcanvas-global-z-index: 1000;
  --offcanvas-bar-width: 300px;
  --offcanvas-bar-m-width: 600px;
  --offcanvas-close-position: 20px;
  --offcanvas-overlay-overlay-background: rgba(31,31,31,0.85);
  --fa-style-family-classic: "Font Awesome 6 Free";
  --fa-style-family-brands: "Font Awesome 6 Brands";
  /* — dependencies — */
  --wp-bound-block-color: --wp-block-synced-color;
  /* — semantic — */
  success: [object Object];
  warning: [object Object];
  error: [object Object];
  info: [object Object];

}